.mui-raised-button {
  display: inline-block; min-width: @button-min-width; height: @button-height;
  .mui-raised-button-container { position: relative; width: 100%; padding: 0; overflow: hidden; border-radius: 2px; background-color: @raised-button-color; transform: translate3d(0, 0, 0); }
  .mui-raised-button-label { position: relative; .mui-font-style-button; margin: 0; padding: 0 @desktop-gutter-less; user-select: none; line-height: @button-height; color: @raised-button-text-color; }
  &:hover { .mui-raised-button-container { background-color: @raised-button-hover-color; } }
}
