const styleSheet = createStyleSheet('Button', (theme) => {
  const { palette, shadows, transitions } = theme;
  const { button } = theme.components;

  return {
    root: { fontSize: button.fontSize, fontWeight: button.fontWeight, fontFamily: button.fontFamily, textTransform: button.textTransform, display: 'inline-flex', alignItems: 'center', justifyContent: 'center', minWidth: 88, height: 36, padding: '0px 16px', borderRadius: 2, color: palette.text.primary, backgroundColor: 'transparent', transition: transitions.multi(['background-color', 'box-shadow'], '250ms'),},
    label: { width: '100%', display: 'inherit', alignItems: 'inherit', justifyContent: 'inherit', }, },
  };
});
